# Problem1

In [49]:
import pandas as pd
import numpy as np
from scipy import stats

In [50]:
df = pd.read_csv("climate_change_1.csv")
df.insert(10,"constant",1.0)
df.head()

,Year,Month,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,constant,Temp
0,1983,5,2.556,345.96,1638.59,303.677,191.324,350.113,1366.1024,0.0863,1.0,0.109
1,1983,6,2.167,345.52,1633.71,303.746,192.057,351.848,1366.1208,0.0794,1.0,0.118
2,1983,7,1.741,344.15,1633.22,303.795,192.818,353.725,1366.2850,0.0731,1.0,0.137
3,1983,8,1.130,342.25,1631.35,303.839,193.602,355.633,1366.4202,0.0673,1.0,0.176
4,1983,9,0.428,340.17,1648.40,303.901,194.392,357.465,1366.2335,0.0619,1.0,0.149

## 1.1 closed_form_1

In [51]:
def closed_form_1(X,Y):
    cita = np.linalg.inv(X.T@X)@X.T@Y
    print("Temp =",cita[0],"* Year +",cita[1],"Month +",cita[2],"* MEI +",cita[3],"* CO2 +",cita[4],"* CH4 +",cita[5],"* N2O +",cita[6],"* CFC-11 +",cita[7],"* CFC-12 +",cita[8],"* TSI +",cita[9],"* Aerosols +",cita[10])
    return cita

## 1.2 Formula and R2

In [52]:
Trainset = df[df['Year'] <= 2006]
Testset = df[df['Year'] > 2006]
X1 = Trainset.iloc[:,:11] 
Y1 = Trainset["Temp"]
X2 = Testset.iloc[:,:11]
Y2 = Testset["Temp"]
cita = closed_form_1(X1,Y1)
cita

Temp = 0.008239648625880554 * Year + -0.0036123081296812504 Month + 0.06446516656565641 * MEI + 0.002511390986870204 * CO2 + 0.00018717344115225937 * CH4 + -0.016307849362519684 * N2O + -0.00627428716530429 * CFC-11 + 0.003426524717566946 * CFC-12 + 0.09518161650847548 * TSI + -1.542959926557634 * Aerosols + -142.4475144124282

0       0.008240
1      -0.003612
2       0.064465
3       0.002511
4       0.000187
5      -0.016308
6      -0.006274
7       0.003427
8       0.095182
9      -1.542960
10   -142.447514
dtype: float64

In [53]:
df["Temp_pre"] = 0
for i in range(11):
    df["Temp_pre"] += cita[i]*df.iloc[:,i]
df

,Year,Month,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,constant,Temp,Temp_pre
0,1983,5,2.556,345.96,1638.59,303.677,191.324,350.113,1366.1024,0.0863,1.0,0.109,0.155569
1,1983,6,2.167,345.52,1633.71,303.746,192.057,351.848,1366.1208,0.0794,1.0,0.118,0.137480
2,1983,7,1.741,344.15,1633.22,303.795,192.818,353.725,1366.2850,0.0731,1.0,0.137,0.129081
3,1983,8,1.130,342.25,1631.35,303.839,193.602,355.633,1366.4202,0.0673,1.0,0.176,0.103677
4,1983,9,0.428,340.17,1648.40,303.901,194.392,357.465,1366.2335,0.0619,1.0,0.149,0.043649
...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,2008,8,-0.266,384.15,1779.88,321.405,244.200,535.072,1365.6570,0.0036,1.0,0.407,0.389269
304,2008,9,-0.643,383.09,1795.08,321.529,244.083,535.048,1365.6647,0.0043,1.0,0.378,0.359819
305,2008,10,-0.780,382.99,1814.18,321.796,244.080,534.927,1365.6759,0.0046,1.0,0.440,0.346552
306,2008,11,-0.621,384.13,1812.37,322.013,244.225,534.906,1365.7065,0.0048,1.0,0.394,0.353797
307,2008,12,-0.666,385.56,1812.88,322.182,244.204,535.005,1365.6926,0.0046,1.0,0.330,0.347671

In [54]:
Testset = df[df['Year'] > 2006]
Testset

,Year,Month,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,constant,Temp,Temp_pre
284,2007,1,0.974,382.93,1799.66,320.561,248.372,539.206,1365.7173,0.0054,1.0,0.601,0.491606
285,2007,2,0.510,383.81,1803.08,320.571,248.264,538.973,1365.7145,0.0051,1.0,0.498,0.460844
286,2007,3,0.074,384.56,1803.10,320.548,247.997,538.811,1365.7544,0.0045,1.0,0.435,0.437231
287,2007,4,-0.049,386.40,1802.11,320.518,247.574,538.586,1365.7228,0.0045,1.0,0.466,0.429490
288,2007,5,0.183,386.58,1795.65,320.445,247.224,538.130,1365.6932,0.0041,1.0,0.372,0.439700
289,2007,6,-0.358,386.05,1781.81,320.332,246.881,537.376,1365.7616,0.0040,1.0,0.382,0.405367
290,2007,7,-0.290,384.49,1771.89,320.349,246.497,537.113,1365.7506,0.0040,1.0,0.394,0.400548
291,2007,8,-0.440,382.00,1779.38,320.471,246.307,537.125,1365.7566,0.0041,1.0,0.358,0.382075
292,2007,9,-1.162,380.90,1794.21,320.618,246.214,537.281,1365.7159,0.0042,1.0,0.402,0.326624
293,2007,10,-1.142,381.14,1802.38,320.855,246.189,537.380,1365.7388,0.0041,1.0,0.362,0.325398
294,2007,11,-1.177,382.42,1803.79,321.062,246.178,537.319,1365.6680,0.0042,1.0,0.266,0.312599
295,2007,12,-1.168,383.89,1805.58,321.217,246.261,537.052,1365.6927,0.0040,1.0,0.226,0.312290
296,2008,1,-1.011,385.44,1809.92,321.328,246.183,536.876,1365.7163,0.0038,1.0,0.074,0.375722
297,2008,2,-1.402,385.73,1803.45,321.345,245.898,536.484,1365.7366,0.0036,1.0,0.198,0.348830
298,2008,3,-1.635,385.97,1792.84,321.295,245.430,535.979,1365.6726,0.0034,1.0,0.447,0.325052
299,2008,4,-0.942,387.16,1792.57,321.354,245.086,535.648,1365.7146,0.0033,1.0,0.278,0.373266
300,2008,5,-0.355,388.50,1796.43,321.420,244.914,535.399,1365.7175,0.0031,1.0,0.283,0.411317
301,2008,6,0.128,387.88,1791.80,321.447,244.676,535.128,1365.6730,0.0031,1.0,0.315,0.432307
302,2008,7,0.003,386.42,1782.93,321.372,244.434,535.026,1365.6720,0.0033,1.0,0.406,0.417297
303,2008,8,-0.266,384.15,1779.88,321.405,244.200,535.072,1365.6570,0.0036,1.0,0.407,0.389269
304,2008,9,-0.643,383.09,1795.08,321.529,244.083,535.048,1365.6647,0.0043,1.0,0.378,0.359819
305,2008,10,-0.780,382.99,1814.18,321.796,244.080,534.927,1365.6759,0.0046,1.0,0.440,0.346552
306,2008,11,-0.621,384.13,1812.37,322.013,244.225,534.906,1365.7065,0.0048,1.0,0.394,0.353797
307,2008,12,-0.666,385.56,1812.88,322.182,244.204,535.005,1365.6926,0.0046,1.0,0.330,0.347671

In [55]:
Trainset = df[df['Year'] <= 2006]
Testset = df[df['Year'] > 2006]
R_square_train = Trainset["Temp_pre"].var()/Trainset["Temp"].var()
R_square_test = Testset["Temp_pre"].var()/Testset["Temp"].var()
print("R_square of the trainset is", R_square_train)
print("R_square of the testset is", R_square_test)

R_square of the trainset is 0.7549422941395146
R_square of the testset is 0.21126520689415648

## 1.3. Which variables are significant in the model?

### Use T-Test to find whether the features are significant in the model

In [56]:
def T_test(X,Y,cita):
    error = np.sum(np.square(X@cita-Y))
    Cii = np.linalg.inv(X.T@X).diagonal()
    sigma = error /(X.shape[0]-X.shape[1])
    S = np.sqrt(sigma*Cii)
    results = pd.DataFrame()
    results['index'] = df.columns.values[:11]
    results.set_index(['index'], inplace=True)
    results['coefficient'] = np.array(cita)
    t = cita.T / S
    results['t-value']=np.array(t)
    p = stats.t.sf(np.abs(t), (X.shape[0]-X.shape[1]))*2
    results['p-value']=np.array(p)
    return results
M = np.array(Trainset.iloc[:,:11])
N = np.array(Trainset.iloc[:,11])
results = T_test(M,N,cita)
results

          coefficient   t-value       p-value
index
Year         0.008240  0.389974  6.968595e-01
Month       -0.003612 -1.659604  9.814238e-02
MEI          0.064465  9.943923  4.393487e-20
CO2          0.002511  0.774177  4.394959e-01
CH4          0.000187  0.351624  7.253913e-01
N2O         -0.016308 -0.883391  3.778022e-01
CFC-11      -0.006274 -2.742675  6.497247e-03
CFC-12       0.003427  1.976023  4.915888e-02
TSI          0.095182  5.150540  4.981306e-07
Aerosols    -1.542960 -7.020808  1.750006e-11
constant  -142.447514 -2.571245  1.066326e-02

### The p-value of  Year and CH4 is larger than 0.05 which means they are not significant. That is to say, Month,MEI,CO2,N2O, CFC-11, CFC-12, TSI and Aerosols are siginificant.

## 1.4. Conditions for using the closed form solution

### The necesary conditions for using the closed form solutution is that X'X must be invertible

In [57]:
dff = pd.read_csv('climate_change_2.csv')
dff.insert(11,"constant",1.0)
dff

,Year,Month,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,NO,constant,Temp
0,1983,5,2.556,345.96,1638.59,303.677,191.324,350.113,1366.1024,0.0863,2.63859,1.0,0.109
1,1983,6,2.167,345.52,1633.71,303.746,192.057,351.848,1366.1208,0.0794,2.63371,1.0,0.118
2,1983,7,1.741,344.15,1633.22,303.795,192.818,353.725,1366.2850,0.0731,2.63322,1.0,0.137
3,1983,8,1.130,342.25,1631.35,303.839,193.602,355.633,1366.4202,0.0673,2.63135,1.0,0.176
4,1983,9,0.428,340.17,1648.40,303.901,194.392,357.465,1366.2335,0.0619,2.64840,1.0,0.149
...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,2008,8,-0.266,384.15,1779.88,321.405,244.200,535.072,1365.6570,0.0036,2.77988,1.0,0.407
304,2008,9,-0.643,383.09,1795.08,321.529,244.083,535.048,1365.6647,0.0043,2.79508,1.0,0.378
305,2008,10,-0.780,382.99,1814.18,321.796,244.080,534.927,1365.6759,0.0046,2.81418,1.0,0.440
306,2008,11,-0.621,384.13,1812.37,322.013,244.225,534.906,1365.7065,0.0048,2.81237,1.0,0.394
307,2008,12,-0.666,385.56,1812.88,322.182,244.204,535.005,1365.6926,0.0046,2.81288,1.0,0.330

# Problem2: Regularization

## 2.1 loss function for linear model with L1 regularization, L2 regularization

### For L1 regularization:

### $$ J(\theta) = \cfrac{1}{2m} [\displaystyle \sum^{m}_{i=1}{(h_\theta(x ^ {(i)})  - y ^ {(i)})^2 }+ \lambda \displaystyle \sum^{n}_{j=1}{| \theta _j |}]  $$

### For L2 regularization:

### $$ J(\theta) = \cfrac{1}{2m} [\displaystyle \sum^{m}_{i=1}{(h_\theta(x ^ {(i)})  - y ^ {(i)})^2 }+ \lambda \displaystyle \sum^{n}_{j=1}{\theta _j ^2}]  $$

## 2.2 L2 regularization

In [58]:
def closed_form_2 (X,Y,lamda):
    cita_2 = np.linalg.inv(X.T@X+lamda*np.identity(X.shape[1]))@X.T@Y
    print("Temp =",cita_2[0],"* Year +",cita_2[1],"Month +",cita_2[2],"* MEI +",cita_2[3],"* CO2 +",cita_2[4],"* CH4 +",cita_2[5],"* N2O +",cita_2[6],"* CFC-11 +",cita_2[7],"* CFC-12 +",cita[8],"* TSI +",cita[9],"* Aerosols +",cita[10])
    return cita_2

# 2.3 & 2.4 : L2 regularization is robust

In [61]:
def R_square(lamda):
    cita_2 = closed_form_2(X1,Y1,lamda)
    df1 = df
    df1["Temp_pre"] = 0
    for i in range(11):
        df1["Temp_pre"] += cita_2[i]*df1.iloc[:,i]
    Trainset = df1[df['Year'] <= 2006]
    Testset = df1[df1['Year'] > 2006]
    R_square_train = Trainset["Temp_pre"].var()/Trainset["Temp"].var()
    R_square_test = Testset["Temp_pre"].var()/Testset["Temp"].var()
    print("R_square of the trainset when lamda is",lamda,":",R_square_train)
    print("R_square of the testset is",lamda,":",R_square_test)

In [62]:
R_square(10)

Temp = -0.024447984404890488 * Year + -0.004550902948297288 Month + 0.04424118744976582 * MEI + 0.00798255051711593 * CO2 + 0.00012811730143812123 * CH4 + 0.004430520598147636 * N2O + -0.009128591561318816 * CFC-11 + 0.005682241872540198 * CFC-12 + 0.09518161650847548 * TSI + -1.542959926557634 * Aerosols + -142.4475144124282
R_square of the trainset when lamda is 10 : 0.688198316622199
R_square of the testset is 10 : 0.15594127252457224

In [19]:
R_square(1)

Temp = -0.030602571694228725 * Year + -0.004901128518071533 Month + 0.04897025880750511 * MEI + 0.00817656826339538 * CO2 + 7.997805339491983e-05 * CH4 + 0.009029143903130272 * N2O + -0.009687964531875416 * CFC-11 + 0.006137817791375292 * CFC-12 + 0.09518161650847548 * TSI + -1.542959926557634 * Aerosols + -142.4475144124282
R_square of the trainset when lamda is 1 : 0.6969605298937207
R_square of the testset is 1 : 0.18090996895985775

In [20]:
R_square(0.1)

Temp = -0.03764515620903866 * Year + -0.005638279910144448 Month + 0.05821137776894504 * MEI + 0.007211206341010772 * CO2 + -5.7392416503656456e-05 * CH4 + 0.017158684172294294 * N2O + -0.009904936458362268 * CFC-11 + 0.006521876559857971 * CFC-12 + 0.09518161650847548 * TSI + -1.542959926557634 * Aerosols + -142.4475144124282
R_square of the trainset when lamda is 0.1 : 0.718118058859745
R_square of the testset is 0.1 : 0.22539701339888682

In [21]:
R_square(0.01)

Temp = -0.041762025391182955 * Year + -0.0060884148762899905 Month + 0.06385877621675916 * MEI + 0.0065786600579767094 * CO2 + -0.00014227396619042503 * CH4 + 0.022067371855195035 * N2O + -0.010008761814844648 * CFC-11 + 0.006739220403942678 * CFC-12 + 0.09518161650847548 * TSI + -1.542959926557634 * Aerosols + -142.4475144124282
R_square of the trainset when lamda is 0.01 : 0.743583567364826
R_square of the testset is 0.01 : 0.25564790515918817

In [22]:
R_square(0.001)

Temp = -0.04227614332110197 * Year + -0.006152017295661004 Month + 0.06473272636697486 * MEI + 0.006470722343311562 * CO2 + -0.00015460772098630442 * CH4 + 0.022733073244125254 * N2O + -0.01001553695573031 * CFC-11 + 0.006764668305294206 * CFC-12 + 0.09518161650847548 * TSI + -1.542959926557634 * Aerosols + -142.4475144124282
R_square of the trainset when lamda is 0.001 : 0.7484060178132722
R_square of the testset is 0.001 : 0.2604234569057105

### When λ = 0.1,0.01,0.001, R_square on testset with L2 regularization is larger than the pure linear model and the result is increasing as the decrease of λ. We can say thay L2 regularization can improve the robutness as long as we chose the proper lamda.

### λ = 0.001 is the best regularization parameter

# Problem 3——Better Model

### Workflow : 1) When X'X is not invertible use L1 regulariation to make the close form solutution feasible. 
###                    2) Use the close solution to caculate the result like 1.1
###                    3) Use T-Test to find the features that are not significant and delete them in the data
###                    4) Use the new data to do regression and chose a best λ to utilize the result

In [79]:
Trainset = df[df['Year'] <= 2006]
Testset = df[df['Year'] > 2006]
df3 = df.drop(['CH4','Year'],axis = 1)
df3.head()

,Month,MEI,CO2,N2O,CFC-11,CFC-12,TSI,Aerosols,constant,Temp,Temp_pre
0,5,2.556,345.96,303.677,191.324,350.113,1366.1024,0.0863,1.0,0.109,142.963054
1,6,2.167,345.52,303.746,192.057,351.848,1366.1208,0.0794,1.0,0.118,142.911289
2,7,1.741,344.15,303.795,192.818,353.725,1366.2850,0.0731,1.0,0.137,142.867344
3,8,1.130,342.25,303.839,193.602,355.633,1366.4202,0.0673,1.0,0.176,142.792422
4,9,0.428,340.17,303.901,194.392,357.465,1366.2335,0.0619,1.0,0.149,142.665800

In [85]:
df3 = pd.read_csv("climate_change_1.csv")
Trainset = df3[df3['Year'] <= 2006]
Testset = df3[df3['Year'] > 2006]
Trainset_1 = Trainset.drop(["Year","CH4"],axis=1)
Testset_1 = Testset.drop(["Year","CH4"],axis=1)
XX1 = Trainset_1.iloc[:,:9] 
YY1 = Trainset_1["Temp"]
XX2 = Testset_1.iloc[:,:9]
YY2 = Testset["Temp"]

In [86]:
def closed_form_NEW2 (X,Y,lamda):
    cita_new2 = np.linalg.inv(X.T@X+lamda*np.identity(X.shape[1]))@X.T@Y
    print("Temp =",cita_new2[0],"Month +",cita_new2[1],"* MEI +",cita_new2[2],"* CO2 +",cita_new2[3],"* N2O +",cita_new2[4],"* CFC-11 +",cita_new2[5],"* CFC-12 +",cita_new2[6],"* TSI +",cita_new2[7],"* Aerosols +",cita_new2[8])
    return cita_new2

In [87]:
def R_square_NEW(lamda):
    cita_new2 = closed_form_2(XX1,YY1,lamda)
    df_new1 = df3
    df_new1["Temp_pre"] = 0
    for i in range(11):
        df1["Temp_pre"] += cita_2[i]*df1.iloc[:,i]
    Trainset = df1[df['Year'] <= 2006]
    Testset = df1[df1['Year'] > 2006]
    R_square_train = Trainset["Temp_pre"].var()/Trainset["Temp"].var()
    R_square_test = Testset["Temp_pre"].var()/Testset["Temp"].var()
    print("R_square of the trainset when lamda is",lamda,":",R_square_train)
    print("R_square of the testset is",lamda,":",R_square_test)

In [88]:
R_square_NEW(1)

Temp = -0.001010446147938536 * Year + 0.011325250505025797 Month + 0.0012279076604841635 * MEI + -0.002532999391618114 * CO2 + -0.0017301408327082 * CH4 + 0.0010418249531452726 * N2O + 0.00024520375336765845 * CFC-11 + -0.05581679533733687 * CFC-12 + 0.09518161650847548 * TSI + -1.542959926557634 * Aerosols + -142.4475144124282

NameError: name 'df1' is not defined

In [65]:
R_square_NEW(1)

Temp = -0.030602571694228725 * Year + -0.004901128518071533 Month + 0.04897025880750511 * MEI + 0.00817656826339538 * CO2 + 7.997805339491983e-05 * CH4 + 0.009029143903130272 * N2O + -0.009687964531875416 * CFC-11 + 0.006137817791375292 * CFC-12 + 0.09518161650847548 * TSI + -1.542959926557634 * Aerosols + -142.4475144124282

KeyError: 'Temp_pre'

# Problem 4——Gradient descent algorithm

# The iteration expression:
$ Repeat:  \ \{ $
$$ \theta _j := \theta _j - \alpha \frac{1}{m} \sum^{m}_{i=1}{(h_\theta(x ^ {(i)})-y^{(i)})x^{(i)}_j}$$
$ (simultaneously update \theta _j \  for \ j = 0, ..., n)\}$
$\  for \ j = 0, ..., n $

In [77]:
def gradientDescent(df_x, df_y, alpha, e=1e-17, max_loop=100000):
    iteration = 0
    n = df_x.shape[1]
    m = df_x.shape[0]
    theta = np.random.randn(n)
    flag = 1
    while iteration < max_loop and flag == 1: 
        iteration += 1
        print(iteration)
        last_theta = np.array(theta)
        for j in range(n):
            theta[j] = theta[j] - alpha*sum(((np.array(df_x)@theta)-df_y)*df_x[:, j]) / m
        if sum((theta-last_theta) **2) < e:
            flag = 0
            print(sum((theta-last_theta) **2))
    return theta

# Normalization

In [78]:
training_set=df[df['Year']<=2006]
testing_set=df[df['Year']>2006]
train=np.array(training_set)
test=np.array(testing_set)
#X=train[:,:-1]
#Y=train[:,-1]

train_n = train[:,1:]
for i in range(len(train_n[0,:])):
    train_n[:, i] =  (train_n[:, i]-train_n[:, i].mean()) / \
    max(abs(train_n[:, i].max()-train_n[:, i].mean()), abs(train_n[:, i].min()-train_n[:, i].mean()))
np.insert(train_n, 0, values= np.ones(len(train_n[:,0])), axis=1)

test_n = test[:,1:]
for i in range(len(test_n[0,:])):
    test_n[:, i] =  (test_n[:, i]-test_n[:, i].mean()) / \
    max(abs(test_n[:, i].max()-test_n[:, i].mean()), abs(test_n[:, i].min()-test_n[:, i].mean()))
np.insert(test_n, 0, values= np.ones(len(test_n[:,0])), axis=1)

X_train_n=train_n[:,:-1]
Y_train_n =train_n[:,-1]
X_test_n = test_n[:, :-1]
Y_test_n = test_n[:, -1]

c:\program files\python37\lib\site-packages\ipykernel_launcher.py:11: RuntimeWarning: invalid value encountered in true_divide
  # This is added back by InteractiveShellApp.init_path()
c:\program files\python37\lib\site-packages\ipykernel_launcher.py:17: RuntimeWarning: invalid value encountered in true_divide

In [ ]:
theta = gradientDescent(X_train_n, Y_train_n, alpha=0.0001)
theta

In [ ]:
x_test_n = x_test.iloc[:, 1:]
for i in range(len(x_test_n.iloc[:, 0])):
    x_test_n.iloc[i, :] =  (x_test_n.iloc[i, :]-x_test_n.iloc[i, :].mean()) / \
    max(abs(x_test_n.iloc[i, :].max()), abs(x_test_n.iloc[i, :].min()))
x_test_n.insert(0, 'x0', 1)
x_test_n.head()

In [ ]:
y_hat_test_gd = X_test_n @ theta

In [ ]:
R_squared_gd = 1 - sum((y_hat_test_gd - Y_test_n)**2)/sum((Y_test_n-Y_test_n.mean())**2)
R_squared_gd

In [ ]:
y_hat_train_gd = X_train_n @ theta
R_squared_gd_train = sum((y_hat_train_gd - Y_train_n.mean())**2)/sum((Y_train_n-Y_train_n.mean())**2)
R_squared_gd_train